{% extends "platforma/base.html" %}

{% block content %}
<h1>Platforma do analizy danych z Facebooka</h1>



{% if nr %}
    <h1>Lista czatów grupowych, w których Pan/Pani brała udział</h1>
    <div style="color:white;">
    <h2>{{nr}}</h2>
    </div>
{% endif %}
<table>
    <tr>
{% if avgmsg %}
    <td align="left" valign="top">
    <h1>Śwhitenia ilość wiadomości wysyłanych w całym okresie danych, zapewnionych przez Pana/Panią</h1>
    <div style="color:white;">
    <h2>{{avgmsg}}</h2>
    </div>
    </td>
{% endif %}
{% if avgLP %}
    <td align="right" valign="top">
    <h1>Śwhitenia ilość wiadomości wysyłanych w podanym okresie danych, zapewnionych przez Pana/Panią</h1>
    <div style="color:white;">
    <h2>{{avgLP}}</h2>
    </div>
    </td>
{% endif%}
    </tr>
<tr align="left">
    <td>
        {% if ppl %}
            <h1>Osoby, z którymi Pan/Pani wysyłała wiadomości, oraz ilość wiadomości</h1>
            <h3>
            <div style="color:white;">
            {% for people in ppl %}
                <br>{{people}}<br>
            {% endfor%}
            </div>
            </h3>
        {% endif %}
    </td>
    <td align="right" valign="top">
        {% if pplLP %}
            <h1>Osoby, z którymi Pan/Pani wysyłała wiadomości, oraz ilość wiadomości z wybranego przedziału czasowego</h1>
            <h3>
            <div style="color:white;">
            {% for people in pplLP %}
                <br>{{people}}<br>
            {% endfor%}
            </div>
            </h3>
        {% endif %}
    </td>
</tr>

{% endblock content %}

