{% extends "googleproject/base.html" %}

{% block content %}

<script type="text/javascript">
    Swal.fire({
  position: 'top-end',
  type: '{{alert}}',
  title: '{{title}}',
  showConfirmButton: false,
  timer: 1500
})


</script>
<div class="tlo">
    <div class="settings">
        <i class="fas fa-cog" onclick="window.location.href='#ustawienia'"></i>
    </div>
    <div class="fb">
        <i class="fab fa-facebook-f" onclick="window.location.href='/'"></i>
    </div>
    <section class="introduction">

        <div class="odleglosc">
        <h1 class="lax" data-lax-preset="fadeInOut">Platforma do analizy danych z <span style='color: #4285F4'>G</span><span style='color: #EA4334'>o</span><span style='color: #FBBC05'>o</span><span style='color: #4285F4'>g</span><span style='color: #35A853'>l</span><span style='color: #EA4334'>e</span></h1>
        </div>
        <div class="lax"  data-lax-translate-y="0 0, 200 100">
        <p>Scrolluj w dół</p>
        <center>
        <a href="#messagestats">
        <div class="circle">
        <i class="lax fas fa-chevron-down" >
          </i>
          <center>
          </div>
        </a>
    </center>
          </div>
    </section>
    <section class="messagestats" id="messagestats">
            <div class="lax" data-lax-preset="driftRight">
                <center>
                    <div class="odleglosc">
                        <h1 onclick="window.location.href='{% url "google_lokalizacja" as url1 %} {{ url1 }}'"">
                            Statystyki dotyczące lokalizacji <i class="fas fa-chevron-right"></i>
                        </h1>
                    </div>
                </center>
            </div>
    </section>

    <section class="adstats">
        <div class="lax" data-lax-preset="driftLeft">
                <center>
                    <div class="odleglosc">
                        <h1 onclick="window.location.href='{% url "platf_adstats" as url2 %} {{ url2 }}'">
                            <i class="fas fa-chevron-left"></i> Statystyki dotyczące nagrań głosowych
                        </h1>
                    </div>
                </center>
            </div>

    </section>

    <section class="wordstats">

    <div class="lax" data-lax-preset="driftRight">
                <center>
                    <div class="odleglosc">
                        <h1 onclick="window.location.href='{% url "platf_wordstats" as url3 %} {{ url3 }}'">
                            Statystyki dotyczące słownictwa <i class="fas fa-chevron-right"></i>
                        </h1>
                    </div>
                </center>
            </div>


    </section>
</div>
{% if postdata %}
   Obecna lokalizacja pliku:
   {{postdata}}
{% endif%}
{% if period %}
    Obecnie rozpatrywany przedział czasowy:
    {{period}}
{% endif %}
<a id="ustawienia" class="button" href="{% url 'google_chdir' as url4 %} {{ url4 }}"> Zmień </a>
<br><br><br>
{% if dirdata %}
    {{dirdata}}
{% endif%}
<div class="lax" data-lax-preset_small="spin" id="circle"></div>

{% endblock content %}


