{% extends "blog/base.html" %}

{% block content %}
<h1>Platforma do analizy danych z Facebooka</h1>

{% if nr %}
    <h1>Lista czatów grupowych, w których Pan/Pani brała udział</h1>
    <div style="color:red;">
    <h2>{{nr}}</h2>
    </div>
{% endif %}
{% if avgmsg %}
    <h1>Średnia ilość wiadomości wysyłanych w całym okresie danych, zapewnionych przez Pana/Panią</h1>
    <div style="color:red;">
    <h2>{{avgmsg}}</h2>
    </div>
{% endif %}
{% if ppl %}
    <h1>Osoby, z którymi Pan/Pani wysyłała wiadomości, oraz ilość wiadomości</h1>
    <h3>
    <div style="color:red;">
    {% for people in ppl %}
        <br>{{people}}<br>
    {% endfor%}
    </div>
    </h3>
{% endif %}
{% endblock content %}

